*{
    margin: 0;
    padding: 0;
    background-color: #fbf3e4;
    font-family: 'Oswald';
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    .links{
        p{
            padding-top: 10px;
            a{
                text-decoration: none;
                color:#a52af1;
                margin: 5px;
                background-color: rgb(165, 42, 241, 0.4);
                padding: 8px 15px;
                border-radius: 20px;
            }  
        }
    }

    .logo{
        h1{
            font-weight: none;
            text-align: center;
            span{
                color: #a52af1;
                font-size: 50px;
            }
        }
    }

}

.paralax{
    background-image: url(img/Capa.png);
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    scrollbar-width: thin;
    scrollbar-color: #a52af1  rgb(165, 42, 241, 0.4); 
}

article{
    width: 800px;
    text-align: justify;
    padding-top: 80px;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    .sobre{
        h2{
            text-align: center;
            padding-bottom: 25px;
        }
    }
    .projetos{
        padding-top: 80px;
        padding-bottom: 80px;
        h2{
            text-align: center;
            padding-bottom: 15px;
        }
        .conteudo{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            margin: 0 auto 20px auto;
            height: 456px;
            width: 855px;
            .caixa{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin: 5px;
                width: 825px;
                a{
                    background-color: rgb(165, 42, 241, 0.4);
                    text-decoration: none;
                    padding: 5px;
                    border-radius: 25px;
                    text-align: center;
                    color: #a52af1;
                    font-size: 18px;
                    img{
                        height: 400px;
                        border-radius: 20px;
                    }
                }
            }     
        }
        
    }

    .formulario{
        text-align: center;
        h2{
            text-align: center;
            padding-bottom: 25px;
        }
        form{
            border-radius: 20px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        label{
            input{
                background-color: rgb(165, 42, 241, 0.4);
                border: #a52af1 solid 2px;
                width: 300px;
                border-radius: 25px;
                padding: 20px 30px;
                text-align: justify;
            }    
            textarea{
                background-color: rgb(165, 42, 241, 0.4);
                border: #a52af1 solid 2px;
                width: 300px;
                max-height: 200px;
                border-radius: 25px;
                padding: 20px 30px;
                resize: none;
            }
            input::placeholder{
                color: #a52af1;
                font-size: 15px;
            }
            textarea::placeholder{
                color: #a52af1;
                font-size: 15px;
            }
            
        }
        button{
            background-color: rgb(165, 42, 241, 0.4);
            border: #a52af1 solid 2px;
            font-size: 18px;
            border-radius: 20px;
            padding: 10px 30px;
            color: #a52af1;
        }
    }

    .contato{
        padding-top: 50px;
        padding-bottom: 50px;
        height: 350px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .logo{
            img{
                width: 250px;
                border-radius: 150px;
            }
        }
        .info{
            h1{
                margin: 5px;
            }
            p{
                margin: 5px;
                a{
                    text-decoration: none;
                    color: rgb(165, 42, 241, 0.8);
                }
            }
        }
    }


    
}

footer{
    h4{
        background-color:  fbf3e4;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
        span{
            color: #a52af1;
        }
    }
}